.footer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: RGBA(37, 41, 52, 1);
  width: 100vw;
  margin: 0;
}

.footer-wrapper {
  display: flex;
  padding: 20px 0 100px 0;
  justify-content: center;
  border-top: 1px solid #fb976f;
  width: 500px;
}
.email-container {
  display: flex;
  font-weight: lighter;
}
.image {
  width: 30px;
  height: 30px;
}

.link-container,
.email-container {
  margin: 0 20px;
}

.p-footer {
  opacity: 0.8;
  margin-left: 10px;
}
